.newsletters{
    width: 87%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #feffc3, #e1ffea22 100%);
    gap: 30px;
}

.newsletters h1{
    color: #454545;
    font-size: 55px;
    font-weight: 600;
    padding-top: 120px;
}

.newsletters p{
    color: #454545;
    font-size: 20px;
}
.newsletters div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}

.newsletters input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-family: poppins;
    font-size: 16px;
}

.newsletters div button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: #ffd000;
    border: #ffd000;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

@media(max-width:1280px){
    .newsletters{
        padding: 0px 80px;
        margin-bottom: 120px;
        gap: 20px;
    }
    .newsletters h1{
        font-size: 36px;
    }
    .newsletters p{
        font-size: 16px;
    }
    .newsletters div{
        width: 600px;
        height: 60px;
    }
    .newsletters div input{
        width: 400px;
    }
    .newsletters div button{
        width: 160px;
        height: 60px;
    }
}

@media(max-width:1024px){
    .newsletters{
        margin-bottom: 60px;
    }
    .newsletters h1{
        font-size: 30px;
    }
    .newsletters p{
        font-size: 14px;
    }
    .newsletters div{
        width: 500px;
        height: 50px;
    }
    .newsletters div input{
        width: 300px;
        font-size: 14px;
    }
    .newsletters div button{
        width: 120px;
        height: 50px;
        font-size: 14px;
    }
}

@media(max-width:800px){
    .newsletters{
        margin-bottom: 30px;
        height: 35vh;
    }
    .newsletters h1{
        font-size: 18px;
    }
    .newsletters p{
        font-size: 12px;
    }
    .newsletters div{
        width: 400px;
        height: 40px;
    }
    .newsletters div input{
        width: 200px;
        font-size: 13px;
    }
    .newsletters div button{
        width: 100px;
        height: 40px;
        font-size: 13px;
    }
}

@media(max-width:500px){
    .newsletters{
        height: 25vh;
        width: 100%;
        padding: 0;
        gap: 15px;
    }
    .newsletters h1{
        font-size: 16px;
    }
    /* membuat ukuran text mengecil = max-width */
    .newsletters p{
        font-size: 13px;
        max-width: 200px;
        text-align: center;
    }
    .newsletters div{
        width: 290px;
    }
    .newsletters div input{
        width: 130px;
    }
}